.welcome-section {
    text-align: center;
    padding: 50px 20px;
    color: white;
  }
  
  .welcome-section h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  .welcome-text {
    font-size: 18px;
    /* width: 65%; */
    max-width: 1000px;
    margin: 15px auto;
    line-height: 1.6;
    font-style: italic;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
  }
  